{% extends 'data_store_service/base.html' %}

{% block content %}
{% if file_contents.empty %}
   {% include 'form/error_summary.html' %}
    <a href="{{ url_for('uploader_views.pipeline_data_upload',  slug=pipeline.slug) }}" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Try again
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
    </a>
{% else %}
<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">Data successfully uploaded</h1>
</div>
<table class="govuk-table">
    <form method="post" name="verify_form" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% include 'form/error_summary.html' %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">{{ heading }}</h1>
            </legend>

            {% with field=form.proceed %}
                {% include 'form/input_radio_field.html' %}
            {% endwith %}

            {% if missing_headers %}
              <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-warning-text govuk-!-margin-bottom-0">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    The uploaded file is missing columns that were present in the last data file. Continuing will break any queries that currently rely on those columns.
                    <br>
                    <br>
                    Missing column{% if missing_headers|length > 1 %}s{% endif %}: {{ missing_headers | join(', ') }}
                  </strong>
                </div>
              </div></div>
            {% endif %}
            <div class="gov-form-group govuk-!-padding-top-6">
                <ul class="govuk-list">
                    <li>
                        <input type="submit" value="Continue{% if missing_headers %} with missing columns{% endif %}" class="govuk-button govuk-!-margin-bottom-4{% if missing_headers %} govuk-button--warning{% endif %}">
                    </li>
                </ul>
            </div>

        </fieldset>
    </form>

    <caption class="govuk-table__caption">File contents</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Column</th>
            <th scope="col" class="govuk-table__header">Data type</th>
            <th scope="col" class="govuk-table__header">Sample data taken from the first few rows</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for column, data in file_contents.items() %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ column }}</th>
            <td class="govuk-table__cell">text</td>
            <td class="govuk-table__cell">{{ format_row_data(data) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
