{% extends 'data_store_service/base.html' %}
{% block title %}Data Store Service - Upload data{% endblock %}
{% block content %}


{% if pipeline.data_files|length > 0 %}
<table class="govuk-table">
    <caption class="govuk-table__caption">Existing versions</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date uploaded</th>
            <th scope="col" class="govuk-table__header">Date processed</th>
            <td scope="col" class="govuk-table__header"></td>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for data_file in pipeline.data_files if data_file.state in ('processing_dss', 'processing_dataflow', 'completed', 'uploaded') %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data_file.uploaded_at }}</td>

            {% if data_file.processed_at %}
              <td class="govuk-table__cell">
                {{ data_file.processed_at }}
              </td>
            {% elif data_file.state == 'uploaded' %}
              <td class="govuk-table__cell">
                <a class="govuk-link" href="{{ url_for('uploader_views.pipeline_data_verify', slug=data_file.pipeline.slug, file_id=data_file.id)}}">Process</a>
              </td>
            {% elif data_file.state in ('processing_dss', 'processing_dataflow') %}
              <td class="govuk-table__cell">
                <a class="govuk-link" href="{{ url_for('uploader_views.pipeline_data_uploaded', slug=data_file.pipeline.slug, file_id=data_file.id) }}">View progress</a>
              </td>
            {% endif %}

            <td class="govuk-table__cell">{% if data_file.processed_at %} {% if data_file.id == data_file.pipeline.latest_version.id %}Latest{% else %}<a class="govuk-link" href="{{ url_for('uploader_views.pipeline_restore_version', slug=data_file.pipeline.slug, file_id=data_file.id)}}">Restore</a>{% endif %}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<form method="post" name="pipeline_form" enctype="multipart/form-data">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form.csrf_token }}
            {% include 'form/error_summary.html' %}

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">{{ heading }}</h1>
                </legend>

                {% with field=form.csv_file %}
                    {% include 'form/input_field.html' %}
                {% endwith %}
                <div class="gov-form-group govuk-!-padding-top-6">
                    <ul class="govuk-list">
                        <li>
                            <input type="submit" value="Upload" class="govuk-button govuk-!-margin-bottom-4">
                        </li>
                    </ul>
                </div>
            </fieldset>
        </div>
    </div>
</form>

{% endblock content %}
