{% extends 'base.html' %}

{% block content %}
<form method="post" name="pipeline_form" enctype="multipart/form-data">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form.csrf_token }}
            {% include 'form/error_summary.html' %}
            {% if show_form %}
                <fieldset class="govuk-fieldset">
                    {% with field=form.pipeline, label='Existing datasets' %}
                        {% include 'form/input_radio_field.html' %}
                    {%  endwith %}
                    <div class="gov-form-group govuk-!-padding-top-6">
                        <ul class="govuk-list">
                            <li>
                                <input type="submit" value="Update dataset" class="govuk-button govuk-!-margin-bottom-4">
                            </li>
                        </ul>
                    </div>
                </fieldset>
            {% endif %}


        </div>
    </div>
</form>
         <a href="{{ url_for('uploader_views.pipeline_create') }}" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Add new dataset
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
{% endblock content %}