{% extends 'data_store_service/base.html' %}

{% block content %}
<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">Data now being processed</h1>
    <div class="govuk-panel__body">by&nbsp;<strong>{{ pipeline }}</strong>&nbsp;pipeline</div>
    <div id="pipeline_progress_label" class="govuk-panel__body">Please wait</div>
    <progress id="pipeline_progress" value="0" max="100"></progress>
    <p id="pipeline_info"></p>
</div>
<script type="text/javascript">
function loadXMLDoc(file_id, interval) {
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
           if (xmlhttp.status == 200) {
               var response = JSON.parse(xmlhttp.responseText);
               document.getElementById("pipeline_progress").value = response.progress;
               document.getElementById("pipeline_info").innerHTML = response.info;
               if (response.progress == 100) {
                    clearInterval(interval);
                    if (response.state == 'completed') {
                        document.getElementById("pipeline_progress_label").innerHTML = 'Completed';
                        document.getElementById("pipeline_info").innerHTML = 'The data will \
                         be available in Data Workspace in table "{{ data_workspace_table_name }}" \
                         under schema "{{ data_workspace_schema_name }}"';
                    } else if (response.state == 'failed') {
                        document.getElementById("pipeline_progress_label").innerHTML = 'Failed';
                        document.getElementById("pipeline_info").innerHTML = response.info;
                    }
               }
           }
           else {
               document.getElementById("pipeline_progress_label").innerHTML = 'Failed';
               document.getElementById("pipeline_progress").value = 0;
               document.getElementById("pipeline_info").innerHTML = response.info;
               clearInterval(interval);
           }
        }
    };
    xmlhttp.open("GET", "/upload/progress/" + file_id + '/', true);
    xmlhttp.send();
}

const interval = setInterval(function() {
   loadXMLDoc('{{ file_id }}', interval);
 }, 2000);

</script>
{% endblock content %}
