APScheduler
beautifulsoup4
black
codecov
factory_boy
flake8-import-order
flake8
Flask-Migrate
flask-shell-ipython
flask-sqlalchemy
flask-wtf
flask
freezegun
fuzzywuzzy
git+https://github.com/uktrade/data-engineering-common.git
git+https://github.com/uktrade/dt08-data-tools.git
gunicorn[gevent]
json-log-formatter
lxml
mohawk
numpy
pandas
pip-tools
psycopg2
pycountry
pytest-cov
pytest-mock
pytest
python-slugify
pyyaml
redis
requests-oauthlib
selenium
sentry_sdk[flask]
spacy
sqlalchemy-utils
sqlalchemy
tableschema
tabulator
toolz
watchdog
webdriver-manager
werkzeug
WTForms-SQLAlchemy
